<div id="resetPassword">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div class="page-header">
        <h1>Reset password</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username">
                        <span class="input-group-addon"><button type="submit" class="btn btn-info">Reset</button></span>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
</div>