<div id="myProjects">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Profil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div class="page-header">
        <h1>My projects</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Mes projets <button href="#" class="btn btn-info float-right">Nouveau projet</button></h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-sm btn-success float-left">Manage</button> &nbsp;
                                <button class="btn btn-sm btn-danger float-right">Delete</button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-sm btn-success float-left">Manage</button> &nbsp;
                                <button class="btn btn-sm btn-danger float-right">Delete</button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-sm btn-success float-left">Manage</button> &nbsp;
                                <button class="btn btn-sm btn-danger float-right">Delete</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Mon activité</h2>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header text-center"><i class="far fa-comments"></i> My latest posts</div>
                            <ul class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action">
                                    Budgey <br />
                                    <small class="text-muted">2 hours ago</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Budgey <br />
                                    <small class="text-muted">28 Janvier 2018</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Budgey <br />
                                    <small class="text-muted">2 hours ago</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-light text-center">View all</a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card contributions">
                            <div class="card-header text-center"><i class="far fa-money-bill-alt"></i> My latest contributions</div>
                            <ul class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>
                                        Cras justo odio<br />
                                        <small class="text-muted">6 Janvier 2018</small>
                                    </span>
                                    <span class="badge badge-info">2$</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>
                                        Cras justo odio<br />
                                        <small class="text-muted">6 Janvier 2018</small>
                                    </span>
                                    <span class="badge badge-info">2$</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>
                                        Cras justo odio<br />
                                        <small class="text-muted">6 Janvier 2018</small>
                                    </span>
                                    <span class="badge badge-info">2$</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-light text-center">View all</a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header text-center"><i class="far fa-bell"></i> Projects followed</div>
                            <ul class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>
                                        Cras justo odio<br />
                                        <small class="text-muted">98 followers</small>
                                    </span>
                                    <span><button class="btn btn-sm btn-danger">Remove</button></span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>
                                        Cras justo odio<br />
                                        <small class="text-muted">98 followers</small>
                                    </span>
                                    <span><button class="btn btn-sm btn-danger">Remove</button></span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>
                                        Cras justo odio<br />
                                        <small class="text-muted">98 followers</small>
                                    </span>
                                    <span><button class="btn btn-sm btn-danger">Remove</button></span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-light text-center">View all</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br />
</div>