<ng-container *ngIf="thread">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">{{ 'MESSAGING.INBOX.home' | translate }}</a></li>
            <li class="breadcrumb-item"><a routerLink="/messaging">{{ 'MESSAGING.INBOX.inbox' | translate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'MESSAGING.THREAD.thread' | translate }}: {{thread.subject}}</li>
        </ol>
    </nav>

    <div class="page-header">
        <h1><img class="d-none d-sm-inline" src="/images/mascot/{{pageHeaderImage}}" /> {{ 'MESSAGING.THREAD.discussionThread' | translate }}</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 mb-5">
                <div class="sideMenu">
                    <div class="card">
                        <div class="card-header text-center">{{ 'MESSAGING.THREAD.threadInfo' | translate }}</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ 'MESSAGING.THREAD.nbParticipants' | translate }}: <span class="badge badge-secondary float-right">{{thread.participants.length}}</span></li>
                            <li class="list-group-item">{{ 'MESSAGING.THREAD.created' | translate }}:
                                <span class="float-right" *ngIf="dateThreshold(thread.messages[thread.messages.length-1].date) >= 1">{{thread.messages[thread.messages.length-1].date | amDateFormat:'LL'}}</span>
                                <span class="float-right" *ngIf="dateThreshold(thread.messages[thread.messages.length-1].date) < 1">{{thread.messages[thread.messages.length-1].date | amTimeAgo}}</span>
                            </li>
                            <li class="list-group-item">{{ 'MESSAGING.THREAD.nbMessages' | translate }}: <span class="badge badge-secondary float-right">{{thread.messages.length}}</span></li>
                            <li class="list-group-item">{{ 'MESSAGING.THREAD.participants' | translate }}:
                                <ng-container *ngFor="let participant of thread.participants; let last = first">
                                    <a [routerLink]="['/auth/profile', participant.username]" class="float-right">{{participant.username}}<i *ngIf="!last">,&nbsp;</i></a>
                                </ng-container>
                            </li>
                        </ul>
                        <div class="card-footer text-center" *ngIf="isAuthor">
                            <form [formGroup]="addParticipantForm" (submit)="addParticipant()" ngNativeValidate *ngIf="addParticipantForm">
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'MESSAGING.THREAD.participant' | translate }}" [matAutocomplete]="auto" [formControl]="participantsCtrl" formControlName="participant" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
                                            <span>{{ user.username }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <button type="submit" class="float-right mat-raised-button" mat-button>{{ 'MESSAGING.THREAD.add' | translate }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="title">
                            {{thread.subject}}
                            <small class="float-right">
                                <button (click)="leaveThread()" class="btn btn-danger btn-sm">{{ 'MESSAGING.THREAD.leaveDiscussion' | translate }}</button>
                                <button (click)="onNewThreadMessage()" class="btn btn-info btn-sm">{{ 'MESSAGING.THREAD.newMessage' | translate }}</button>
                            </small>
                        </h3>
                    </div>
                </div>
                <div class="row discussion-box" *ngFor="let message of thread.messages | paginate: { itemsPerPage: 10, currentPage: page }">
                    <div class="col-sm-1 d-none d-sm-inline">
                        <p class="text-right"><a [routerLink]="['/auth/profile', message.author.username]"><img src="{{message.author.avatar}}" class="rounded-circle avatar-md" onError="this.onerror=null;this.src='/images/default-avatar.png';" /></a></p>
                    </div>
                    <div class="col-sm-11">
                        <div class="card message">
                            <div class="card-body">
                                <p class="info"><a [routerLink]="['/auth/profile', message.author.username]">{{message.author.username}}</a> <a *ngIf="dateThreshold(message.date) >= 1">{{message.date | amDateFormat:'LL'}}</a><a *ngIf="dateThreshold(message.date) < 1">{{message.date | amTimeAgo}}</a></p>
                                <markdown [data]="message.content" ></markdown>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <p class="text-center"><pagination-controls [autoHide]="true" (pageChange)="page = $event"></pagination-controls></p>
            </div>
        </div>
    </div>
</ng-container>

<div id="messagingModal">
    <div class="header">
        <p class="float-left">{{ 'MESSAGING.THREAD.newReply' | translate }}</p>
        <p class="float-right">
            <a (click)="onToggleMessagingModal()"><i class="fas fa-minus-circle"></i></a>&nbsp;
            <a (click)="onHideMessagingModal()"><i class="fas fa-times-circle"></i></a>
        </p>
    </div>
    <div class="body">
        <form [formGroup]="newThreadMessageForm" (submit)="newThreadMessage()" ngNativeValidate *ngIf="newThreadMessageForm">
            <md-editor formControlName="content" [options]="markdownEditorOptions" required></md-editor>
            <p align="center"><button type="submit" class="btn btn-info btn-sm" [disabled]="!newThreadMessageForm.valid">{{ 'MESSAGING.THREAD.send' | translate }}</button></p>
        </form>
    </div>
</div>