<ng-container *ngIf="projects">

    <div class="jumbotron">
        <div class="container">
            <div id="clouds">
                <div class="cloud1"></div>
                <div class="cloud2"></div>
                <div class="cloud3"></div>
            </div>
            <div id="clouds2">
                <div class="cloud1"></div>
                <div class="cloud2"></div>
                <div class="cloud3"></div>
            </div>
            <div class="card text-center">
                <div class="card-block">
                    <img src="/images/mascot/monkey-beer.png" />
                    <h4 class="card-title">{{ 'STATIC.HOME.heyYou' | translate }}</h4>
                    <p class="card-text text-muted">{{ 'STATIC.HOME.shareYourProject' | translate }}</p>
                </div>
                <a [routerLink]="['/auth/register']" class="card-footer btn btn-success">{{ 'STATIC.HOME.joinUs' | translate }}</a>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">{{ 'STATIC.HOME.latestProjects' | translate }}</h2>
                <div class="row">
                    <div class="col-lg-3 project-box" *ngFor="let project of projects">
                        <div class="description">
                            <a [routerLink]="['/projects/', project.address]">
                                <img src="{{project.thumbnail}}" onError="this.onerror=null; this.src='/images/projects/no-image-available.jpg'" />
                                <div class="caption">
                                    <div class="blur"></div>
                                    <div class="caption-text">
                                        <h3>{{project.name}}</h3>
                                        <p>{{project.description}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="footer text-muted">
                            <p class="float-left"><i class="fas fa-heart"></i> {{project.subscribers.length}} {{ 'STATIC.HOME.subscribers' | translate }} </p>
                            <p class="float-right"><i class="fas fa-book"></i> {{ 'PROJECTS.CATEGORIES.' + project.category | translate }}</p>
                        </div>
                    </div>

                    <div class="col-lg-12" *ngIf="projects.length == 0">
                        <div class="alert alert-secondary" role="alert">
                            <strong>{{ 'STATIC.HOME.oops' | translate }}</strong> {{ 'STATIC.HOME.noProjectsFound' | translate }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="body-lightgrey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title text-center">oBonoB: {{ 'STATIC.HOME.whatIsIt' | translate }}</h2>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="livicon-evo svg-icon-center" data-options=" name: desktop.svg; size: 64px; colorsOnHover: lighter; eventType: none; autoPlay: true "></div>
                                    <h4>{{ 'STATIC.HOME.webCreators' | translate }}</h4>
                                    <p>{{ 'STATIC.HOME.webCreatorsDesc' | translate }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="livicon-evo svg-icon-center" data-options=" name: briefcase.svg; size: 64px; colorsOnHover: lighter; eventType: none; autoPlay: true "></div>
                                    <h4>{{ 'STATIC.HOME.myProjects' | translate }}</h4>
                                    <p>{{ 'STATIC.HOME.myProjectsDesc' | translate }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="livicon-evo svg-icon-center" data-options=" name: rocket.svg; size: 64px; colorsOnHover: lighter; eventType: none; autoPlay: true "></div>
                                    <h4>{{ 'STATIC.HOME.community' | translate }}</h4>
                                    <p>{{ 'STATIC.HOME.communityDesc' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animatedsvg seobanner d-none d-sm-block" style="margin-top: -150px;"></div>
    </div>

    <div class="d-none d-sm-block">
        <a class="register-banner d-flex" [routerLink]="['/auth/register']">
            <h3 class="justify-content-center align-self-center">{{ 'STATIC.HOME.registerToday' | translate }}</h3>
        </a>
    </div>
</ng-container>